In [5]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame({'Apples':[30], 'Bananas':[21]})
print(df)
df

   Apples  Bananas
0      30       21

   Apples  Bananas
0      30       21

In [14]:
df = pd.DataFrame([[30, 21], [41, 34]], index=['2017 Sales', '2018 Sales'], columns=['Apples', 'Bananas'])
print(df)
df

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

In [18]:
df = pd.DataFrame({'city':['Austin','Dallas','Austin','Dallas'],'visitor':[139, 237, 139, 456],'weekday':['Sun', 'Sun', 'Mon', 'Mon'],})
print(df)
df

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

In [20]:
avg_sun = df[df.loc[: ,'weekday'] == 'Sun']['visitor'].mean()
avg_mon = df[df.loc[: ,'weekday'] == 'Mon']['visitor'].mean()
print('Sun:' + str(avg_sun))
print('Mon:' + str(avg_mon))

Sun:188.0
Mon:297.5