In [1]:
import pandas as pd
import numpy as np

In [ ]:
1.根據題目給的 DataFrame 完成下列操作：

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [10]:
#計算每個不同種類 animal 的 age 的平均數
df.groupby("animal").mean()

        age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5

In [13]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(by = ['age','visits'], ascending  =[ True, False])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [14]:
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df['priority'].replace(['yes','no'], [True,False])

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

In [15]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.720901  0.119066  0.995939
1  0.929417  0.846447  0.447630
2  0.730552  0.533730  0.393847
3  0.156680  0.303922  0.121825
4  0.487728  0.537463  0.703161

In [ ]:
2. 一個包含兩個欄位的 DataFrame，

In [20]:
#將每個數字減去該欄位的平均數
df - df.mean()

          0         1         2
0  0.115845 -0.349060  0.463459
1  0.324362  0.378322 -0.084851
2  0.125497  0.065604 -0.138633
3 -0.448376 -0.164203 -0.410655
4 -0.117328  0.069337  0.170680

In [21]:
#將每個數字減去該筆資料平均數
df - df.mean(axis=1)

          0         1         2   3   4
0  0.108932 -0.622099  0.443229 NaN NaN
1  0.317449  0.105283 -0.105080 NaN NaN
2  0.118584 -0.207435 -0.158863 NaN NaN
3 -0.455289 -0.437242 -0.430885 NaN NaN
4 -0.124241 -0.203702  0.150451 NaN NaN

In [ ]:
3. 承上題，請問：

In [26]:
#哪一筆的資料總合最小
df.sum(axis=1).idxmin()

3

In [27]:
#哪一欄位的資料總合最小
df.sum(axis=0).idxmin()

1